@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.title {
    margin-bottom: 24px;
    font-size: 28px;
    text-transform: uppercase;
    color: #213c9f;
    text-align: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
} 

.btn {
    display: inline-block;
    padding: 12px 24px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: .3s ease-in-out;
    border-radius: 6px;
}

.btn-outline-primary {
    color: #213c9f;
    background-color: transparent;
    border: 2px solid #213c9f;
}

.btn-outline-primary:hover {
    background-color: #213c9f;
    color: #fff;
}

header.header {
    padding: 0 100px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    padding: 15px 0;
}

.navbar .logo img {
    height: 44px;
    width: auto;
    object-fit: cover;
}

.navbar .nav-items {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
}

.navbar .nav-items .nav-item {
    display: inline-block;
}

.navbar .nav-items .nav-item .nav-link {
    color: #333;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 4px;
    transition: .25s ease-in-out;
}

.navbar .nav-items .nav-item .nav-link:hover {
    background-color: #6a86ed;
    color: #fff;
}

.navbar .nav-items .nav-item .nav-link.active {
    background-color: #6a86ed;
    color: #fff;
}

.slider {
    padding-top: 16px;
    padding-bottom: 16px;
}

.info-section {
    padding-bottom: 24px;
}

.info-section .info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    text-align: center;
}

.info-section .info-wrapper .card-info {
    background-color: #6a86ed;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 24px 0;
}

.info-section .info-wrapper .card-info .card-info-icon {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-section .info-wrapper .card-info .card-info-icon i {
    font-size: 20px;
    color: #213c9f;
}

.info-section .card-info .card-info-content .card-info-number {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.info-section .card-info .card-info-content .card-info-title {
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
}

.g-4-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
}

.g-4,
.g-3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: .3s ease-in-out;
}

.g-4:hover {
    transform: translateY(-10px);
}

.g-4 .g-img {
    height: 348px;
    width: 100%;
}

.g-4 .g-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.g-3-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding-bottom: 24px;
}

.g-3-wrapper .g-3-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.testi-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    margin-bottom: 24px;
}

.testi-list .testi-content .testi-review {
    font-size: 15px;
    color: #333;
    text-align: justify;
    margin-bottom: 10px;
}

.testi-list .testi-content .testi-avatar {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.testi-list .testi-content .testi-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #213c9f;
}

.testi-list .testi-content .testi-name,
.testi-list .testi-content .testi-position {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.partners-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding-bottom: 24px;
}